/* Navbar
-------------------------------------------------- */
body{
	color: #666;
	font-family: 'Lato', sans-serif !important;
	background:#00489D url(../img/comingsoon.png) no-repeat scroll center top / cover;
}
